# Ambiente
NODE_ENV=dev
PORT=3333
JWT_SECRET=
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"




# Algoritmo Genético - Parâmetros
GA_POPULATION_SIZE=100
GA_GENERATIONS=500
GA_MIN_GENERATIONS=80
GA_PATIENCE=40
GA_FITNESS_TARGET=1400
GA_MUTATION_RATE=0.1
GA_CROSSOVER_RATE=0.8
GA_ELITISM_RATE=0.1
# Penalidades/Bonificações (Hard/Soft)
GA_HARD_PENALTY_MULTIPLIER=1
GA_SOFT_MULTIPLIER=1
















# Hard constraints (pesos)
GA_WEIGHT_PROFESSOR_AVAILABILITY=1000
GA_WEIGHT_ROOM_AVAILABILITY=1000
GA_WEIGHT_ROOM_CAPACITY=1000
GA_WEIGHT_ROOM_TYPE_COMPATIBILITY=1000
GA_WEIGHT_WORKLOAD_LIMIT=1000
GA_WEIGHT_TURMA_AVAILABILITY=1000
GA_WEIGHT_NO_SUNDAY=2000
# Soft constraints (pesos)
/
GA_WEIGHT_CONSECUTIVE_CLASSES=30
GA_WEIGHT_AVOID_INTRA_DAY_GAPS=80
GA_WEIGHT_AVOID_SATURDAY=30
GA_WEIGHT_AVOID_T6=120
GA_WEIGHT_PRIORITIZE_EARLY_SLOTS=40
GA_WEIGHT_AVOID_START_AT_2=50